{% extends 'requestbox/base.html' %}

{% block content %}
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'requestbox:index' %}">Home</a>
  </li>
</ul>


<table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">キャラ名</th>
        <th scope="col">作品タイトル</th>

      </tr>
    </thead>

  <tbody id="mainlist">
    {% for req in req_list %}
    <tr>
      <th scope="row">{{ req.id }}</th>
      <td>{{ req.chara_name }}</td>
      <td>{{ req.title }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">次へ</a>
{% endif %}


{% endblock %}
