{% extends 'requestbox/base.html' %}

{% block content %}
<h1></h1>
<table class="table">
  <thead>
    <tr>
      <th>キャラ名</th>
      <th>作品名</th>
    </tr>
  </thead>

  <tbody>
    {% for req in req_list %}
    <tr>
      <td>{{ req.chara_name }}</td>
      <td>{{ req.title }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">次へ</a>
{% endif %}


{% endblock %}
